<!DOCTYPE html>
<html>
  <head>
    <title>登陆界面</title>
    <link rel='stylesheet' href='/views/css/metro-bootstrap.min.css' />
  </head>
  <body>
  <div class="input-control checkbox">
      <label>
          <input type="checkbox" />
          <span class="check"></span>
          Check me out
      </label>
  </div>

  <div class="input-control checkbox">
      <label>
          <input type="checkbox" data-show="intermediate" />
          <span class="check"></span>
          Check me out
      </label>
  </div>
  </body>
</html>